/* Style global de la page index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-weight: 600;
    font-size: 25px;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

header h1 {
    color: #390768;
}

#logo {
    margin-bottom: 10px;
    border-radius: 15%;
    height: 170px;
    width: 170px;
}

nav ul {
    display: flex;
    margin-top: 25px;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav a:hover
{
    color: rgb(3, 22, 105);
    border-bottom: 3px solid;
}




/* Conteneur des produits */
.presentation-contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 500px;
    }
    .bloc-1 {
    width: 50%;
    height: 100px;
    }
    .bloc-2 {
    width: 50%;
    height: 150px;
    }
    

    
.theme {
    flex: 1 1 200px; 
    padding: 10px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    background-color: #fff; 
    transition: transform 0.2s; 
}






   
.theme-img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}


.nom-theme {
    font-weight: bold; 
    margin: 10px 0 5px; 
}


#peaux_seches, #peaux_sensibles, #peaux_grasses,
#savon_nettoyant, #serum, #cremelaitdechevre {
    flex: 1;
    padding: 10px;
    text-align: center;
}

section div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


section {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

footer {
    background-color: #f4f4f4;
    padding: 2px 0 12px 0;
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    
    #peaux_seches, #peaux_sensibles, #peaux_grasses,
    #savon_nettoyant, #serum, #cremelaitdechevre {
        flex-basis: 100%;
    }
}






/* Style global de la page produits */
body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
    color: #333; 
}


section {
    padding: 0px; 
}


section h2 {
    text-align: center; 
    margin: 0 0 10px 0 
    color: #390768; 
}

h2 {
    font-size: 40px;
    margin: 40px;
    text-align: center;
}


/* Conteneur des produits */
.presentation-contenu {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 500px;
    }
    .bloc-1 {
    width: 50%;
    height: 100px;
    }
    .bloc-2 {
    width: 50%;
    height: 150px;
    }
    .bloc-3 {
    width: 50%;
    height: 150px;
    }

.produits {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}


.produit {
    flex: 1 1 200px; 
    padding: 10px; 
    text-align: center; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    transition: transform 0.2s; 
}

/* Zoom sur les produits */
.produit:hover {
    transform: scale(1.05); 
}
.theme:hover {
    transform: scale(1.05); 
}



.produit img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}


.nom-produit {
    font-weight: bold; 
    margin: 10px 0 5px; 
}


.prix {
    color: #ff5722; 
    font-size: 1.2em; 
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 20px;
    }
}
